<div>
  Olá, <strong>{{ student_name }}</strong>! <br>
  Sua matrícula na GymPoint foi alterada.
  <p>Parabéns pela decisão de buscar uma vida mais saudável com a gente!</p>
  <p>
    Seguem as novas informações sobre a sua matrícula:<br />
    <strong>Data de início:</strong> {{ startDate }}<br />
    <strong>Data final:</strong> {{ endDate }}<br />
    <strong>Plano:</strong> {{ planInfo }}<br />
    <strong>Valor total:</strong> {{ price }}<br /><br />
  </p>
  <strong>Bora treinar!</strong>
</div>
