<div>
  Olá, <strong>{{ student_name }}</strong>! <br>
  Sua matrícula na GymPoint foi cancelada.
  <p>
    Seguem as informações sobre a matrícula <strong>cancelada</strong>:<br />
    <strong>Data de início:</strong> {{ startDate }}<br />
    <strong>Data final:</strong> {{ endDate }}<br />
    <strong>Plano:</strong> {{ planInfo }}<br />
    <strong>Valor total:</strong> {{ price }}<br /><br />
  </p>
  Caso queira se matricular em um novo plano conosco, <strong>seguimos à disposição</strong>.
</div>
